.summaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

fieldset {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.125rem solid var(--secondaryColor);
}

legend {
  margin: 0.5rem;
  padding: 0 0.5rem;
  color: var(--primaryTextColor);
  font-size: 0.8rem;
}
label {
  margin: 0.5rem;
  font-size: 0.8rem;
  color: var(--primaryTextColor);
  text-align: center;
}

select {
  text-align: center;
  border-radius: 5px;
}

input {
  width: 5rem;
  text-align: center;
  border-radius: 5px;
}

ul {
  width: 100%;
  list-style-type: none;
}

.balanceContainer {
  width: 80%;
  border: 0.125rem solid var(--primaryColor);
  background-color: var(--secondaryColor);
  text-align: center;
  padding: 0.25rem;
  border-radius: 5px;
  margin-bottom: 0.125rem;
  margin-top: 1rem;
  color: var(--secondaryTextColor);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

.monthlySummary {
  width: 100%;
  display: flex;
  gap: 0.25rem;
}

.monthlySummary li {
  width: calc(100% / 3);
  text-align: center;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 0.5rem;
}

.summaryByCategories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  margin: 0.25rem;
}

.summaryByCategories ul {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.summaryByCategories ul li {
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.125rem 0.5rem;
}

.progressBalance {
  width: 80%;
  height: 1rem;
  border: none;
  margin-bottom: 0.5rem;
  margin-top: 0rem;
}

.progressBalance::-webkit-progress-bar {
  background-color: var(--incomeColor);
  border-radius: 5px;
  border: 0.125rem solid var(--primaryColor);
}

.progressBalance::-webkit-progress-value {
  background: linear-gradient(
    to right,
    var(--savingsColor),
    var(--expenseColor)
  );
  border-radius: 10px;
}

.progressBalance::-moz-progress-bar {
  background-color: var(--incomeColor);
}
