<div class="summaryContainer">
  <fieldset>
    <legend>Resumo Mensal</legend>
    <div>
      <label>
        Ano:
        <input
          [(ngModel)]="filters.year"
          type="number"
          (change)="handlerChangeFilters()"
        />
      </label>
      <label>
        Mês:
        <input
          [(ngModel)]="filters.month"
          type="number"
          (change)="handlerChangeFilters()"
        />
      </label>
    </div>

    <div class="balanceContainer">
      <span>Saldo</span>
      <span>{{ filteredMovementsSummary.balance | currency : "€" }}</span>
    </div>
    <progress
      class="progressBalance"
      value="{{
        filteredMovementsSummary.income - filteredMovementsSummary.balance
      }}"
      max="{{ filteredMovementsSummary.income }}"
    ></progress>

    <ul class="monthlySummary">
      <li class="income">
        <span>Receitas</span>
        <span>{{ filteredMovementsSummary.income | currency : "€" }}</span>
      </li>
      <li class="savings">
        <span>Poupanças</span>
        <span>{{ filteredMovementsSummary.savings | currency : "€" }}</span>
      </li>
      <li class="expense">
        <span>Despesas</span>
        <span>{{ filteredMovementsSummary.expense | currency : "€" }}</span>
      </li>
    </ul>

    <div class="summaryByCategories">
      <ul>
        <li
          class="income"
          *ngFor="let item of incomeSummaryByCategorie$ | async"
        >
          <span>{{ item.avatar }}</span>
          <span>{{ item.category }}</span>
          <span>{{ item.accumulatedValue | currency : "€" }}</span>
        </li>
      </ul>

      <ul>
        <li
          class="savings"
          *ngFor="let item of savingsSummaryByCategorie$ | async"
        >
          <span>{{ item.avatar }}</span>
          <span>{{ item.category }}</span>
          <span>{{ item.accumulatedValue | currency : "€" }}</span>
        </li>
      </ul>

      <ul>
        <li
          class="expense"
          *ngFor="let item of expenseSummaryByCategorie$ | async"
        >
          <span>{{ item.avatar }}</span>
          <span>{{ item.category }}</span>
          <span>{{ item.accumulatedValue | currency : "€" }}</span>
        </li>
      </ul>
    </div>
  </fieldset>
</div>
