<fieldset class="movementsContainer">
  <legend class="movementsContainerTitle">Movimentos</legend>
  <app-action-button
    [buttonText]="'🗑️Apagar Todos'"
    [buttonAction]="handlerEraseAllMovements.bind(this)"
  ></app-action-button>
  <div class="filterAndSortContainer">
    <label>
      Ano:
      <select
        [(ngModel)]="movementsService.dateFilters.year"
        (ngModelChange)="movementsService.dateFilters.year = +$event"
        (change)="movementsService.handlerFilterAndSortMovementsBy()"
      >
        <option
          *ngFor="let year of movementsService.years | async"
          [selected]="movementsService.dateFilters.year === year"
        >
          {{ year }}
        </option>
      </select>
    </label>

    <label>
      Mês:
      <select
        [(ngModel)]="movementsService.dateFilters.month"
        (ngModelChange)="movementsService.dateFilters.month = +$event"
        (change)="movementsService.handlerFilterAndSortMovementsBy()"
      >
        <option
          *ngFor="let month of movementsService.months; let i = index"
          [selected]="movementsService.dateFilters.month === i + 1"
          [value]="i + 1"
        >
          {{ month }}
        </option>
      </select>
    </label>

    <label
      >Tipo:
      <select
        [(ngModel)]="movementsService.filterAndSortMovementsBy.type"
        (change)="movementsService.handlerFilterAndSortMovementsBy()"
      >
        <option value="all">Todos</option>
        <option value="income">Receitas</option>
        <option value="savings">Poupanças</option>
        <option value="expense">Despesas</option>
      </select>
    </label>
    <label>
      Ordenar:
      <select
        [(ngModel)]="movementsService.filterAndSortMovementsBy.sortBy"
        (change)="movementsService.handlerFilterAndSortMovementsBy()"
      >
        <option value="description">Descrição</option>
        <option value="date">Data</option>
      </select>
    </label>
  </div>

  <app-pagination></app-pagination>

  <ul class="movementsList">
    <app-movement-item
      *ngFor="
        let movement of (movementsService.filteredMovements | async)?.slice(
          (paginationService.currentPage - 1) *
            paginationService.numberDocsByPage,
          paginationService.numberDocsByPage * paginationService.currentPage
        )
      "
      [movementItem]="movement"
    ></app-movement-item>
  </ul>
  <app-pagination></app-pagination>
</fieldset>
