<fieldset class="movementsContainer">
  <legend class="movementsContainerTitle">Movimentos</legend>

  <div class="filterAndSortContainer">
    <label>
      Ano:
      <select
        [(ngModel)]="summaryService.filters.year"
        (ngModelChange)="summaryService.filters.year = +$event"
        (change)="this.handlerMovementsFilterAndSort()"
      >
        <option
          *ngFor="let year of summaryService.years | async"
          [selected]="summaryService.filters.year === year"
        >
          {{ year }}
        </option>
      </select>
    </label>

    <label>
      Mês:
      <select
        [(ngModel)]="summaryService.filters.month"
        (ngModelChange)="summaryService.filters.month = +$event"
        (change)="this.handlerMovementsFilterAndSort()"
      >
        <option
          *ngFor="let month of summaryService.months; let i = index"
          [selected]="summaryService.filters.month === i + 1"
          [value]="i + 1"
        >
          {{ month }}
        </option>
      </select>
    </label>

    <label
      >Tipo:
      <select
        [(ngModel)]="filterAndSortBy.type"
        (change)="handlerMovementsFilterAndSort()"
      >
        <option value="all">Todos</option>
        <option value="income">Receitas</option>
        <option value="savings">Poupanças</option>
        <option value="expense">Despesas</option>
      </select>
    </label>
    <label>
      Ordenar:
      <select
        [(ngModel)]="filterAndSortBy.sortBy"
        (change)="handlerMovementsFilterAndSort()"
      >
        <option value="description">Descrição</option>
        <option value="date">Data</option>
      </select>
    </label>
  </div>

  <app-pagination></app-pagination>

  <ul class="movementsList">
    <app-movement-item
      *ngFor="
        let movement of (filteredMovement$ | async)?.slice(
          (pagination.currentPage - 1) * pagination.numberDocsByPage,
          pagination.numberDocsByPage * pagination.currentPage
        )
      "
      [movementItem]="movement"
    ></app-movement-item>
  </ul>
  <app-pagination></app-pagination>
</fieldset>
