nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--secondaryTextColor);
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.8rem;
  transition: all 0.25s ease;
}

a:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 0.25s ease;
}
a.active-link {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.1);
}

.addButton {
  border: 0.125rem solid var(--backgroundColor);
  background-color: var(--backgroundColor);
}
