<nav>
  <a
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    title="Home"
    >🏠</a
  >
  <a routerLink="/summary" routerLinkActive="active-link" title="Resumo">📊</a>
  <a
    routerLink="/newmovement"
    routerLinkActive="active-link"
    title="Novo Movimento"
    >💸</a
  >
  <a routerLink="/movements" routerLinkActive="active-link" title="Movimentos"
    >📃</a
  >
  <a routerLink="/categories" routerLinkActive="active-link" title="Categorias"
    >🎚️</a
  >
</nav>
