<nav>
  <a
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    title="Início"
    >🏠<span>Início</span></a
  >
  <a routerLink="/summary" routerLinkActive="active-link" title="Resumo"
    >📊<span>Resumo</span></a
  >
  <a routerLink="/newmovement" routerLinkActive="active-link" title="Novo"
    >💸<span>Novo</span></a
  >
  <a routerLink="/movements" routerLinkActive="active-link" title="Movimentos"
    >📃<span>Movimentos</span></a
  >
  <a routerLink="/categories" routerLinkActive="active-link" title="Categorias"
    >🎚️<span>Categorias</span></a
  >
</nav>
