<div class="summaryContainer">
  <app-monthly-summary></app-monthly-summary>

  <fieldset>
    <legend>Resumo Mensal por Categorias</legend>
    <div class="summaryByCategories">
      <ul>
        <li
          class="income"
          *ngFor="
            let item of this.summaryService.incomeSummaryByCategorie$ | async
          "
        >
          <div class="avatarAndNameContainer">
            <span class="categoryAvatar">{{ item.avatar }}</span>
            <span class="categoryName">{{ item.category | titlecase }}</span>
          </div>
          <span>{{ item.accumulatedValue | currency : "€" }}</span>
        </li>
      </ul>

      <ul>
        <li
          class="savings"
          *ngFor="
            let item of this.summaryService.savingsSummaryByCategorie$ | async
          "
        >
          <div class="avatarAndNameContainer">
            <span class="categoryAvatar">{{ item.avatar }}</span>
            <span class="categoryName">{{ item.category | titlecase }}</span>
          </div>
          <span>{{ item.accumulatedValue | currency : "€" }}</span>
        </li>
      </ul>

      <ul>
        <li
          class="expense"
          *ngFor="
            let item of this.summaryService.expenseSummaryByCategorie$ | async
          "
        >
          <div class="avatarAndNameContainer">
            <span class="categoryAvatar">{{ item.avatar }}</span>
            <span class="categoryName">{{ item.category | titlecase }}</span>
          </div>
          <span>{{ item.accumulatedValue | currency : "€" }}</span>
        </li>
      </ul>
    </div>
  </fieldset>
</div>
