<fieldset class="familyGroupContainer">
  <legend class="familyGroupContainerTitle">Grupo Familiar</legend>

  <div class="groupContainer">
    <div class="groupInfoContainer">
      <span>👨‍👩‍👧‍👦{{ (firestoreService.groupData | async)?.name }}</span>
      <span> 🙍‍♂️{{ (firestoreService.groupData | async)?.admin }} </span>
      <span> ✉️ {{ (firestoreService.groupData | async)?.id }} </span>

      <app-action-button
        *ngIf="userEmail == firestoreService.currentGroupEmail"
        [buttonText]="
          isUpdateGroupOpen
            ? 'Atualizar Dados do Grupo ⬆️'
            : 'Atualizar Dados do Grupo ⬇️'
        "
        [buttonAction]="toogleUpdateGroup.bind(this)"
      ></app-action-button>

      <app-update-group
        *ngIf="isUpdateGroupOpen"
        (formSubmitted)="onFormSubmitted()"
      ></app-update-group>
    </div>

    <form
      class="changeGroupContainer"
      (submit)="firestoreService.handlerSubmitGroupEmail()"
    >
      🔁Mudar o grupo familiar (email):
      <input
        type="email"
        name="myGroupEmail"
        [(ngModel)]="firestoreService.nextGroupEmail"
      />

      <app-submit-form-button
        [buttonText]="'Mudar'"
        [disabledButton]="
          firestoreService.currentGroupEmail === firestoreService.nextGroupEmail
        "
      ></app-submit-form-button>
    </form>
  </div>
  <hr />
  <div class="membersInfoContainer">
    <ul class="membersList">
      👩‍👧‍👦Membros:
      <li *ngFor="let member of firestoreService.groupMembers | async">
        <app-member-item [memberItem]="member"></app-member-item>
      </li>
    </ul>
    <app-new-member
      *ngIf="userEmail == firestoreService.currentGroupEmail"
    ></app-new-member>
  </div>
</fieldset>
