<fieldset class="familyGroupContainer">
  <legend class="familyGroupContainerTitle">Grupo Familiar</legend>

  <div class="groupContainer">
    <div class="groupInfoContainer">
      <span>👨‍👩‍👧‍👦{{ (firestoreService.groupData | async)?.name }}</span>
      <span> 🙍‍♂️{{ (firestoreService.groupData | async)?.admin }} </span>
      <span> ✉️ {{ (firestoreService.groupData | async)?.id }} </span>
      <button
        (click)="toogleUpdateGroup()"
        *ngIf="userEmail == firestoreService.groupEmail"
      >
        Atualizar Dados do Grupo
      </button>
      <app-update-group *ngIf="isUpdateGroupOpen"></app-update-group>
    </div>

    <form
      class="changeGroupContainer"
      (submit)="firestoreService.handlerSubmitGroupEmail()"
    >
      🔁Mudar o grupo familiar (email):
      <input
        type="email"
        name="myGroupEmail"
        [(ngModel)]="firestoreService.groupEmail"
      />
      <button (click)="firestoreService.handlerSubmitGroupEmail()">
        Mudar
      </button>
    </form>
  </div>
  <hr />
  <div class="membersInfoContainer">
    <ul class="membersList">
      👩‍👧‍👦Membros:
      <li *ngFor="let member of firestoreService.groupMembers | async">
        <app-member-item [memberItem]="member"></app-member-item>
      </li>
    </ul>
    <app-new-member
      *ngIf="userEmail == firestoreService.groupEmail"
    ></app-new-member>
  </div>
</fieldset>
