.familyGroupContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 0.125rem solid var(--secondaryColor);
  gap: 1rem;
}

.familyGroupContainerTitle {
  margin: 0.25rem;
  padding: 0 0.25rem;
  color: var(--primaryTextColor);
  font-size: 0.8rem;
}

.groupContainer {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primaryTextColor);
  flex-wrap: wrap;
  gap: 0.5rem;
}

.groupInfoContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: var(--primaryTextColor);
}

.changeGroupContainer {
  display: flex;
  flex-direction: column;
  color: var(--primaryTextColor);
  gap: 0.125rem;
  margin: 0.25rem;
}
hr {
  width: 95%;
}

.membersInfoContainer {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--primaryTextColor);
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.membersList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  list-style-type: none;
}

input {
  border-radius: 5px;
  padding: 0.25rem;
}

button {
  border: 0.125rem solid var(--primaryColor);
  background-color: var(--secondaryColor);
  text-align: center;
  padding: 0.25rem;
  border-radius: 5px;
  color: var(--secondaryTextColor);
  font-size: 0.8rem;
  opacity: 1;
  transition: all 0.25s ease;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.25s ease;
}
