.familyGroupContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 0.125rem solid var(--secondaryColor);
  gap: 0.5rem;
}

.familyGroupContainerTitle {
  margin: 0.25rem;
  padding: 0 0.25rem;
  color: var(--primaryTextColor);
  font-size: 0.8rem;
}

.groupContainer {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primaryTextColor);
  flex-wrap: wrap;
  gap: 0.5rem;
}

.groupInfoContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--primaryTextColor);
}

.changeGroupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primaryTextColor);
  gap: 0.125rem;
  margin: 0.25rem;
}
hr {
  width: 95%;
}

.membersInfoContainer {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--primaryTextColor);
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.membersList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  list-style-type: none;
}

input {
  border-radius: 5px;
  padding: 0.25rem;
}
