<div class="dashBoardContainer">
  <button class="newMovementButton" routerLink="/newmovement">
    💸Novo Movimento
  </button>

  <div class="dashBoardMainContent">
    <fieldset class="recentMovementsContainer">
      <legend>Movimentos Recentes</legend>
      <ul class="recentMovementsList">
        <app-movement-item
          *ngFor="let movement of (orderedMovement$ | async)?.slice(0, 3)"
          [movementItem]="movement"
        ></app-movement-item>
      </ul>
      <button routerLink="/movements" class="fieldsetButton">
        📃Ver Todos os Movimentos
      </button>
    </fieldset>

    <app-monthly-summary>
      <button routerLink="/summary" class="fieldsetButton">
        📊Mais Detalhes
      </button></app-monthly-summary
    >
  </div>
</div>

<!-- <button (click)="firestoreService.setCategories()">setCategories</button>
<button (click)="firestoreService.TESTE()">TESTE</button>
<button (click)="firestoreService.batchCloneCategories()">
  batchCloneCategories
</button>

<button (click)="firestoreService.setMovements()">setCategories</button>
<button (click)="firestoreService.TESTE2()">TESTE</button>
<button (click)="firestoreService.batchCloneMovements()">
  batchCloneCategories
</button> -->
