.dashBoardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.dashBoardMainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 769px) {
  .dashBoardMainContent {
    flex-direction: row;
    align-items: flex-start;
  }
}

.recentMovementsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 0.125rem solid var(--secondaryColor);
  border-radius: 5px;
}

.recentMovementsContainer legend {
  padding: 0 0.25rem;
  margin: 0.25rem;
  font-size: 0.8rem;
  color: var(--primaryTextColor);
}

.recentMovementsList {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  list-style-type: none;
}
