<div>👨‍👩‍👧‍👦</div>

<h1>{{ (firestoreService.currentGroup | async)?.name ?? title }}</h1>

<ng-content></ng-content>
<!-- //Onde renderiza p que for passado como children no template onde for usado -->

<div
  *ngIf="(authService.afAuth.authState | async)?.photoURL; else logIn"
  class="avatarContainer"
>
  <img
    class="avatar"
    src="{{ (authService.afAuth.authState | async)?.photoURL }}"
    alt=""
    width="40"
    height="40"
  />
  <button class="logOutButton" (click)="authService.logout()">X</button>
</div>

<!-- REMOVE LOGIN STUFF -->
<ng-template #logIn>
  <button class="loginButton" class="avatarContainer" (click)="authService.loginWithGoogle()">Entrar</button>
</ng-template>