h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.avatarContainer {
  position: fixed;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  border: 0.125rem solid var(--backgroundColor);
  border-radius: 50%;
}

.logOutButton {
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.125rem;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--backgroundColor);
}
.logOutButton:hover {
  cursor: pointer;
}
