.summaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

app-monthly-summary {
  width: 100%;
}

.monthlySummaryByCategoriesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.125rem solid var(--secondaryColor);
  border-radius: 5px;
}

@media (min-width: 769px) {
  .monthlySummaryByCategoriesContainer {
    flex-direction: row;
    align-items: flex-start;
  }
}

.monthlySummaryByCategoriesContainer legend {
  padding: 0 0.25rem;
  margin: 0 0.25rem;
  font-size: 0.8rem;
  color: var(--primaryTextColor);
}

.monthlySummaryByCategoriesContainer ul {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  border-radius: 5px;
  margin: 0.5rem;
  list-style-type: none;
}

.monthlySummaryByCategoriesContainer ul li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
  padding: 0.25rem;
  border-radius: 5px;
}

.categorySummaryContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categorySummaryContainer:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.avatarAndNameContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.categoryAvatar {
  padding: 0.125rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 1.5rem;
}

.categoryName {
  flex-grow: 1;
}

.subCategorySummaryContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1 rem;
}

.subCategorySummary {
  display: flex;
  padding: 0.25rem;
  border-radius: 5px;
  margin: 0.125rem;
  background-color: var(--whiteOpacity);
}

.showMovementsList {
  align-self: flex-end;
}

.movementsList {
  align-self: flex-end;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  border-radius: 5px;
}
