<div class="categoriesContainer">
  <app-new-category
    *ngIf="showNewCategoryComponent"
    (formSubmitted)="onFormSubmitted()"
  >
    <app-action-button
      [buttonText]="'❌'"
      [buttonAction]="handlerShowNewCategoryComponent.bind(this)"
    ></app-action-button>
  </app-new-category>

  <fieldset class="categoriesListContainer">
    <legend class="categoriesContainerTitle">Categorias</legend>
    <div class="categoriesControlButtonsContainer">
      <app-action-button
        *ngIf="!showNewCategoryComponent"
        [buttonText]="'🎚️Nova'"
        [buttonAction]="handlerShowNewCategoryComponent.bind(this)"
      ></app-action-button>
      <app-action-button
        [buttonText]="'🗑️Apagar Todas'"
        [buttonAction]="handlerDeleteAllCategories.bind(this)"
      ></app-action-button>
      <app-action-button
        [buttonText]="'♻️Categorias Padrão'"
        [buttonAction]="handlerSetDefaultCategories.bind(this)"
      ></app-action-button>
    </div>

    <div class="filterAndSortContainer">
      <label
        >Tipo:
        <select
          [(ngModel)]="categoriesService.filterAndSortCategoriesBy.type"
          (change)="categoriesService.handlerFilterAndSortCategoriesBy()"
        >
          <option value="all">Todas</option>
          <option value="income">Receitas</option>
          <option value="savings">Poupanças</option>
          <option value="expense">Despesas</option>
        </select>
      </label>
      <label
        >Ordenar:
        <select
          [(ngModel)]="categoriesService.filterAndSortCategoriesBy.sortBy"
          (change)="categoriesService.handlerFilterAndSortCategoriesBy()"
        >
          <option value="name">Nome</option>
        </select>
      </label>
    </div>

    <app-pagination></app-pagination>

    <ul class="categoriesList">
      <app-category-item
        *ngFor="
          let category of (categoriesService.filteredCategories | async)?.slice(
            (paginationService.currentPage - 1) *
              paginationService.numberDocsByPage,
            paginationService.numberDocsByPage * paginationService.currentPage
          )
        "
        [categoryItem]="category"
      ></app-category-item>
    </ul>

    <app-pagination></app-pagination>
  </fieldset>
</div>
