.categoriesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.categoriesControlButtonsContainer {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.25rem;
  padding: 0.125rem;
}

.categoriesControlButton {
  padding: 0.125rem;
  border: 0.125rem solid var(--primaryColor);
  border-radius: 5px;
  background-color: var(--secondaryColor);
  font-size: 0.8rem;
  text-align: center;
  color: var(--secondaryTextColor);
  opacity: 1;
  transition: all 0.25s ease;
}

.categoriesControlButton:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.25s ease;
}

app-new-category {
  width: 100%;
}

.closeNewCategoryButton {
  align-self: flex-end;
  padding: 0.25rem;
  border: 0.125rem solid var(--primaryColor);
  border-radius: 5px;
  margin: 0.5rem;
  background-color: var(--secondaryColor);
  font-size: 1rem;
  text-align: center;
  opacity: 1;
  transition: all 0.25s ease;
}

.closeNewCategoryButton:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.25s ease;
}

.categoriesListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.125rem solid var(--secondaryColor);
  border-radius: 5px;
}

.categoriesContainerTitle {
  padding: 0 0.25rem;
  margin: 0.25rem;
  font-size: 0.8rem;
  color: var(--primaryTextColor);
}

.filterAndSortContainer {
  width: 95%;
  display: flex;
  justify-content: flex-start;
}

.filterAndSortContainer label {
  margin: 0.5rem;
  font-size: 0.8rem;
  color: var(--primaryTextColor);
}

.filterAndSortContainer select {
  text-align: center;
  border-radius: 5px;
}

.categoriesList {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  list-style-type: none;
}

app-pagination {
  width: 95%;
}
