<div class="startGroupMenu">
  <div class="newFamilyGroup">
    <span>🪄Criar um Grupo Familiar</span>
    <app-new-group></app-new-group>
  </div>

  <div class="enterFamilyGroup">
    <span>👉Entrar num Grupo Familiar</span>
    <form (submit)="firestoreService.handlerSubmitGroupEmail()">
      (Email do Administrador do Grupo)
      <input
        type="email"
        name="groupEmail"
        maxlength="50"
        size="30"
        [(ngModel)]="firestoreService.nextGroupEmail"
      />

      <app-submit-form-button [buttonText]="'Entrar'"></app-submit-form-button>
    </form>
    <div *ngIf="firestoreService.currentGroupEmail">
      O grupo familiar com o email {{ firestoreService.currentGroupEmail }} não
      existe ou voçe não faz parte dos seus membros, por favor contacte o
      administrador do grupo!
    </div>
  </div>
</div>
