.submitFormtButton {
  padding: 0.25rem;
  margin: 0 0.5rem;
  border: 0.125rem solid var(--primaryColor);
  border-radius: 5px;
  background-color: var(--secondaryColor);
  font-size: 1rem;
  text-align: center;
  color: var(--secondaryTextColor);
  opacity: 1;
  transition: all 0.25s ease;
}
.submitFormtButton:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.25s ease;
}
.submitFormtButton:disabled {
  opacity: 0.2;
}
