<fieldset class="newGroupContainer">
  <legend>Novo Grupo</legend>

  <form [formGroup]="groupForm" (ngSubmit)="handlerSubmitGroupForm()">
    <label>
      Nome do Grupo:
      <input type="text" formControlName="name" maxlength="20" size="20" />
    </label>
    <label>
      Nome do Administrador:
      <input type="text" formControlName="admin" maxlength="30" size="30" />
    </label>

    <app-submit-form-button
      [buttonText]="'Criar Novo Grupo'"
      [disabledButton]="!groupForm.valid"
    ></app-submit-form-button>
    
  </form>
</fieldset>
