.newGroupContainer {
  width: 100%;
  max-width: 768px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.125rem solid var(--secondaryColor);
  color: var(--primaryTextColor);
}

legend {
  margin: 0 0.25rem;
  padding: 0 0.25rem;
  color: var(--primaryTextColor);
  font-size: 0.8rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.25rem;
}
label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 5px;
  padding: 0.25rem;
}
