<fieldset class="newGroupContainer">
  <legend>Novo Grupo</legend>

  <form [formGroup]="groupForm" (ngSubmit)="handlerSubmitGroupForm()">
    <label>
      Nome do Grupo:
      <input type="text" formControlName="name" maxlength="20" size="20" />
    </label>
    <label>
      Nome do Administrador:
      <input type="text" formControlName="admin" maxlength="30" size="30" />
    </label>

    <button type="submit" [disabled]="!groupForm.valid" class="fieldsetButton">
      Criar
    </button>
  </form>
</fieldset>
