<fieldset class="newMemberContainer">
  <legend>Novo Membro</legend>

  <form [formGroup]="memberForm" (ngSubmit)="handlerSubmitMemberForm()">
    <label>
      Nome:
      <input type="text" formControlName="name" maxlength="30" size="30" />
    </label>
    <label>
      Email:
      <input type="email" formControlName="email" maxlength="50" size="30"/>
    </label>

    <app-submit-form-button
      [buttonText]="'Enviar'"
      [disabledButton]="!memberForm.valid"
    ></app-submit-form-button>
  </form>
</fieldset>
