.memberItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  border-radius: 5px;
  background-color: var(--incomeColor);
  color: black;
}

.nameAndEmailContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

.memberName {
  padding: 0.25rem;
  border-radius: 5px;
  background-color: var(--whiteOpacity);
}
