<app-header [title]="title"> </app-header>

<aside>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5924661977828883"
    crossorigin="anonymous"
  ></script>
  <!-- banner horizontal -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-5924661977828883"
    data-ad-slot="2002962097"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</aside>

<main
  *ngIf="!isShowingLogIn; else logIn"
>
  <div
    class="mainContainer"
    *ngIf="!firestoreService.isShowingStartGroupMenu; else startGroupMenu"
  >
    <div *ngIf="!firestoreService.isLoading; else loading">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<ng-template #logIn>
  <app-login></app-login>
  <button
    class="togglePrivacyButton"
    (click)="togglePrivacy()"
    title="Mostrar Política de Privacidade"
  >
    {{
      isPrivacyOpen
        ? "Fechar Política de Privacidade"
        : "Mostrar Política de Privacidade"
    }}
  </button>
  <app-privacy *ngIf="isPrivacyOpen"></app-privacy>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #startGroupMenu>
  <app-start-group-menu></app-start-group-menu>
</ng-template>

<app-footer></app-footer>

<app-dialog></app-dialog>
