<app-header [title]="title"> </app-header>

<main *ngIf="!isShowingLogIn; else loginButton">
  <div class="mainContainer" *ngIf="!isLoading; else loading">
    <div
      *ngIf="(firestoreService.groupIdData | async)?.name; else noFamilyGroup"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<ng-template #loginButton>
  <app-login></app-login>
  <button
    class="togglePrivacyButton"
    (click)="togglePrivacy()"
    title="Mostrar Política de Privacidade"
  >
    {{
      isPrivacyOpen
        ? "Fechar Política de Privacidade"
        : "Mostrar Política de Privacidade"
    }}
  </button>
  <app-privacy *ngIf="isPrivacyOpen"></app-privacy>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #noFamilyGroup>
  <div class="noFamilyGroupMenu">
    <div class="newFamilyGroup">
      <span>Iniciar um Grupo Familiar</span>
      <app-new-group></app-new-group>
    </div>

    <div class="enterFamilyGroup">
      <span>Entrar num Grupo Familiar Existente</span>
      <form (submit)="firestoreService.handlerSubmitGroupEmail()">
        (Introduza o Email do Adminstrador do Grupo Familiar)
        <input
          type="email"
          name="groupEmail"
          [(ngModel)]="firestoreService.groupEmail"
        />

        <input type="submit" />
      </form>
      <div *ngIf="firestoreService.submitedGroupEmail">
        O grupo familiar com o email {{firestoreService.submitedGroupEmail}} não existe ou voçe naz faz parte dos seus membros,
        por favor contacte o administrador do grupo!
      </div>
    </div>
  </div>
</ng-template>

<!-- <ng-adsense
  [adClient]="'ca-pub-5924661977828883'"
  [pageLevelAds]="true"
></ng-adsense> -->

<app-footer></app-footer>

<!-- Logic to implement Dialog in App - Test -->
<!-- <button id="open-dialog" (click)="dialogService.openDialog()">
  Abrir Dialog
</button>
<dialog id="my-dialog">
  <p>Conteúdo do dialog.</p>
  <button id="closeDialog" (click)="dialogService.closeDialog()">Fechar</button>
</dialog> -->
