<app-header [title]="title"></app-header>

<div *ngIf="!showLogIn; else loginButton">
  <div *ngIf="!isLoading; else loading">
    <!-- <div *ngIf="authService.afAuth.authState | async as user; else loginButton"> -->
    <router-outlet></router-outlet>
    <app-new-category></app-new-category>
    <app-new-movement></app-new-movement>
    <!-- </div> -->
  </div>
  <app-footer></app-footer>
</div>

<ng-template #loginButton>
  <button (click)="authService.loginWithGoogle()">Entrar com o Google</button>
</ng-template>

<ng-template #loading>
  <div>LOADINGGGG....</div>
</ng-template>
