<li class="movementListItem" class="{{ movementItem.type }}">
  <div class="movementListItemContainer" (click)="toggleShowControlButtons()">
    <div class="movementListMain">
      <div class="dateAndValueContainer">
        <span>{{ movementItem.date | date : "dd-MM-yyyy" }}</span>
        <strong>{{ movementItem.value | currency : "€" }}</strong>
      </div>

      <div class="informationContainer">
        <div class="categoryInfoContainer">
          <span class="categoryAvatar">{{ movementItem.categoryAvatar }}</span>
          <span>{{ movementItem.category | titlecase }}</span>
          <span *ngIf="movementItem.subCategory"
            >({{ movementItem.subCategory | titlecase }})</span
          >
        </div>
        <i class="descriptionContainer">{{
          movementItem.description | titlecase
        }}</i>
      </div>
    </div>

    <span class="showControlButtonsIndicator">
      {{ showCategoryControlButtons ? "⬆️" : "⬇️" }}
    </span>
  </div>

  <div *ngIf="showCategoryControlButtons" class="movementListItemButtons">
    <button
      *ngIf="!selectedMovementId"
      (click)="handlerMovementToUpdate(movementItem.id)"
    >
      🔁 Atualizar
    </button>
    <button (click)="handlerMovementToDelete(movementItem.id)">
      🗑️ Apagar
    </button>
  </div>

  <div class="movementListItemUpdateBox">
    <app-update-movement
      *ngIf="selectedMovementId === movementItem.id"
      [currentMovement]="movementItem"
    ></app-update-movement>
  </div>
</li>
