.movementListItem {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0.25rem;
}

.movementListItemContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

.movementListItemContainer:hover {
  border-radius: 5px;
  background-color: var(--whiteOpacity);
}

.movementListMain {
  flex-grow: 1;
  display: flex;
  gap: 0.25rem;
}

.dateAndValueContainer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.125rem;
  border-radius: 5px;
  background-color: var(--whiteOpacity);
}

.informationContainer {
  display: flex;
  flex-direction: column;

  gap: 0.25rem;
}

@media (min-width: 769px) {
  .movementListItem {
    padding: 0.5rem;
  }
 
  .informationContainer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .descriptionContainer::before {
    content: "- ";
  }
}

.categoryInfoContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

.categoryAvatar {
  border-radius: 5px;
  font-size: 1.25rem;
  background-color: rgba(255, 255, 255, 0.25);
}

.showControlButtonsIndicator {
  align-self: flex-end;
}

.movementListItemButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

