.monthlySummaryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 0.125rem solid var(--secondaryColor);
  border-radius: 5px;
}

.monthlySummaryContainer legend {
  padding: 0 0.25rem;
  margin: 0.25rem;
  font-size: 0.8rem;
  color: var(--primaryTextColor);
}

.labelElement {
  margin: 0.5rem;
  font-size: 0.8rem;
  color: var(--primaryTextColor);
}

.selectElement {
  border-radius: 5px;
  text-align: center;
}

.balanceValueContainer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding: 0.25rem;
  border: 0.125rem solid var(--primaryColor);
  border-radius: 5px;
  margin-top: 0.5rem;
  background-color: var(--secondaryColor);
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  color: var(--secondaryTextColor);
}

.progressBalance {
  width: 80%;
  height: 2rem;
  border: none;
  margin-bottom: 0.5rem;
}

.progressBalance::-webkit-progress-bar {
  background-color: var(--incomeColor);
  border-radius: 5px;
  border: 0.125rem solid var(--primaryColor);
}

.progressBalance::-webkit-progress-value {
  background: linear-gradient(
    to right,
    var(--savingsColor),
    var(--expenseColor)
  );
  border-radius: 5px;
}

.progressBalance::-moz-progress-bar {
  background-color: var(--incomeColor);
}

.monthlySummary {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  margin: 0.5rem;
}

.monthlySummary li {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
