<fieldset class="monthlySummaryContainer">
  <legend>Resumo Mensal</legend>
  <div>
    <label class="labelElement">
      Ano:
      <select
        class="selectElement"
        [(ngModel)]="movementsService.dateFilters.year"
        (ngModelChange)="movementsService.dateFilters.year = +$event"
        (change)="movementsService.handlerFilterAndSortMovementsBy()"
      >
        <option
          *ngFor="let year of movementsService.years | async"
          [selected]="movementsService.dateFilters.year === year"
        >
          {{ year }}
        </option>
      </select>
    </label>

    <label class="labelElement">
      Mês:
      <select
        class="selectElement"
        [(ngModel)]="movementsService.dateFilters.month"
        (ngModelChange)="movementsService.dateFilters.month = +$event"
        (change)="movementsService.handlerFilterAndSortMovementsBy()"
      >
        <option
          *ngFor="let month of movementsService.months; let i = index"
          [selected]="movementsService.dateFilters.month === i + 1"
          [value]="i + 1"
        >
          {{ month }}
        </option>
      </select>
    </label>
  </div>

  <div class="balanceValueContainer">
    <span>Saldo</span>
    <span>{{ movementsService.monthlySummaryTotals.balance | currency : "€"}}</span>
    <!-- <span
      >{{
        ((this.summaryService.incomeTotal | async) || 0) -
          (((this.summaryService.savingsTotal | async) || 0) +
            ((this.summaryService.expenseTotal | async) || 0)) | currency : "€"
      }}
    </span> -->
  </div>
  <progress
    class="progressBalance"
    value="{{
      ((this.summaryService.savingsTotal | async) || 0) +
        ((this.summaryService.expenseTotal | async) || 0)
    }}"
    max="{{ (this.summaryService.incomeTotal | async) || 0 }}"
  ></progress>

  <ul class="monthlySummary">
    <li class="income">
      <span>Receitas</span>
      <span>{{ movementsService.monthlySummaryTotals.income | currency : "€"}}</span>

      <!-- <span>{{
        this.summaryService.incomeTotal | async | currency : "€"
      }}</span> -->
    </li>
    <li class="savings">
      <span>Poupanças</span>
      <span>{{ movementsService.monthlySummaryTotals.savings | currency : "€"}}</span>

      <!-- <span>{{
        this.summaryService.savingsTotal | async | currency : "€"
      }}</span> -->
    </li>
    <li class="expense">
      <span>Despesas</span>
      <span>{{ movementsService.monthlySummaryTotals.expense | currency : "€"}}</span>

      <!-- <span>{{
        this.summaryService.expenseTotal | async | currency : "€"
      }}</span> -->
    </li>
  </ul>

  <ng-content></ng-content>
</fieldset>
