<div class="settingsContainer">
  <div class="buttonsContainer">
    <app-action-button
      [buttonText]="'ℹ️ Política de Privacidade'"
      routerLink="/privacy"
      routerLinkActive="active-link"
    ></app-action-button>
    <app-action-button
      [buttonText]="
        themeService.isDarkTheme ? '🌒 Tema Escuro' : '🌔 Tema Claro'
      "
      [buttonAction]="toogleTheme.bind(this)"
    ></app-action-button>
  </div>
  <app-family-group></app-family-group>
  <app-categories></app-categories>
</div>
