<div class="dashBoardContainer">
  
  <button class="newMovementButton" routerLink="/newmovement">
    💸Novo Movimento
  </button>

  <fieldset>
    <legend>Últimos Movimentos</legend>
    <ul class="movementList">
      <li
        class="movementListItem"
        *ngFor="let movement of (movement$ | async)?.slice(0, 5)"
        class="{{ movement.type }}"
      >
        <span>{{ movement.date | date : "dd-MM-yyyy" }}</span>
        <span>{{ movement.description | titlecase }}</span>
        <span>{{ movement.value | currency : "€" }}</span>
        <div class="movementListItemButtons">
          <button (click)="this.firestoreService.getDocc(movement.id)">
            🆙
          </button>
          <button
            (click)="this.firestoreService.deleteDoc('movements', movement.id)"
          >
            🗑️
          </button>
        </div>
      </li>
    </ul>
    <button routerLink="/movements" class="fieldsetButton">
      📃Ver Todos os Movimentos
    </button>
  </fieldset>

  <fieldset>
    <legend>Resumo Mensal</legend>
    <div>
      <label>
        Ano:
        <input
          [(ngModel)]="filters.year"
          type="number"
          (change)="handlerChangeFilters()"
        />
      </label>
      <label>
        Mês:
        <input
          [(ngModel)]="filters.month"
          type="number"
          (change)="handlerChangeFilters()"
          size="5"
        />
      </label>
    </div>

    <div class="balanceContainer">
      <span>Saldo</span>
      <span>{{ filteredMovementsSummary.balance | currency : "€" }}</span>
    </div>
    <progress
      class="progressBalance"
      value="{{
        filteredMovementsSummary.income - filteredMovementsSummary.balance
      }}"
      max="{{ filteredMovementsSummary.income }}"
    ></progress>

    <ul class="monthlySummary">
      <li class="income">
        <span>Receitas</span>
        <span>{{ filteredMovementsSummary.income | currency : "€" }}</span>
      </li>
      <li class="savings">
        <span>Poupanças</span>
        <span>{{ filteredMovementsSummary.savings | currency : "€" }}</span>
      </li>
      <li class="expense">
        <span>Despesas</span>
        <span>{{ filteredMovementsSummary.expense | currency : "€" }}</span>
      </li>
    </ul>

    <button routerLink="/summary" class="fieldsetButton">
      📊Mais Detalhes
    </button>
  </fieldset>
</div>
