<dialog id="dialog">
  <div class="dialogContent">
    <app-loading *ngIf="dialogService.loading"></app-loading>
    <p *ngIf="!dialogService.loading">{{ dialogService.dialogMessage }}</p>
    <button
      *ngIf="!dialogService.loading"
      id="closeDialogButton"
      (click)="dialogService.closeDialog()"
    >
      ✅Fechar
    </button>
  </div>
</dialog>

<dialog id="confirmDialog">
  <div class="dialogContent">
    <p>{{ dialogService.confirmDialogMessage }}</p>
    <button id="confirmDialogButton" (click)="dialogService.confirmDialog()">
      ✅Sim
    </button>
    <button
      id="abortConfirmDialogButton"
      (click)="dialogService.cancelConfirmDialog()"
    >
      🚫Cancelar
    </button>
  </div>
</dialog>
