<dialog id="my-dialog">
  <div class="dialogContent">
    <app-loading *ngIf="dialogService.loading"></app-loading>
    <p *ngIf="!dialogService.loading">{{ dialogService.dialogMessage }}</p>
    <button
      *ngIf="!dialogService.loading"
      id="closeDialog"
      (click)="dialogService.closeDialog()"
    >
      ✅Fechar
    </button>
  </div>
</dialog>

<dialog id="my-confirm-dialog">
  <div class="dialogContent">
    <p>{{ dialogService.confirmDialogMessage }}</p>
    <button id="confirmDialog" (click)="dialogService.confirmDialog()">
      ✅Sim
    </button>
    <button
      id="abortConfirmDialog"
      (click)="dialogService.cancelConfirmDialog()"
    >
      🚫Cancelar
    </button>
  </div>
</dialog>
