.categoryListItem {
  margin: 0rem 0.125rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.categoryListItemContainer {
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
}

.categoryListItemContainer:hover {
  background-color: var(--whiteOpacity);
  border-radius: 5px;
}

.categoryListMain {
  display: flex;
  gap: 0.25rem;
  flex-grow: 1;
}

.typeAndAvatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  background-color: var(--whiteOpacity);
  padding: 0.25rem;
  border-radius: 5px;
}

@media (min-width: 769px) {
  .categoryListItem {
    padding: 0.5rem;
  }
  .typeAndAvatarContainer {
    flex-direction: row;
  }
}

.categoryNameAndSubcategoriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.categoryNameContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.125rem;
}

.subCategoriesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

.subCategoriesContainer span {
  background-color: var(--whiteOpacity);
  padding: 0.125rem;
  border-radius: 5px;
}

.categoryAvatar {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.125rem;
  background-color: var(--whiteOpacity);
}

.showControlButtonsIndicator {
  align-self: flex-end;
}

.categoryListItemButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}