<li class="categoryListItem" class="{{ categoryItem.type }}">
  <div class="categoryListItemContainer" (click)="handlershowControlButtons()">
    <div class="categoryListMain">
      <div class="typeAndAvatarContainer">
        <span>{{
          categoryItem.type === "income"
            ? "Receita"
            : categoryItem.type === "savings"
            ? "Poupanças"
            : "Despesa"
        }}</span>
        <span class="categoryAvatar">{{ categoryItem.avatar }}</span>
      </div>

      <div class="categoryNameAndSubcategoriesContainer">
        <div class="categoryNameContainer">
          <span>{{ categoryItem.name | titlecase }}</span>
        </div>
        <div class="subCategoriesContainer" *ngIf="categoryItem.subCategories">
          Sub-Categorias:
          <span *ngFor="let subcategory of categoryItem.subCategories">{{
            subcategory | titlecase
          }}</span>
        </div>
      </div>
    </div>

    <span class="showControlButtonsIndicator">
      {{ showControlButtons ? "⬆️" : "⬇️" }}
    </span>
  </div>

  <div *ngIf="showControlButtons" class="categoryListItemButtons">
    <button
      *ngIf="!idCategoryUpdateOpen"
      (click)="handlerClickCategoryUpdate(categoryItem.id)"
    >
      🔁 Atualizar
    </button>
    <button (click)="handlerClickCategoryDelete(categoryItem.id)">
      🗑️ Apagar
    </button>
  </div>

  <div class="categoryListItemUpdateBox">
    <app-update-category
      *ngIf="idCategoryUpdateOpen === categoryItem.id"
      [currentCategory]="categoryItem"
    ></app-update-category>
  </div>
</li>
