<li class="categoryListItem" class="{{ categoryItem.type }}">
  <div class="categoryListItemContainer" (click)="toggleShowControlButtons()">
    <div class="categoryListMain">
      <div class="typeAndAvatarContainer">
        <span>{{
          categoryItem.type === "income"
            ? "Receita"
            : categoryItem.type === "savings"
            ? "Poupanças"
            : "Despesa"
        }}</span>
        <span class="categoryAvatar">{{ categoryItem.avatar }}</span>
      </div>

      <div class="categoryNameAndSubcategoriesContainer">
        <div class="categoryNameContainer">
          <span>{{ categoryItem.name | titlecase }}</span>
        </div>
        <div class="subCategoriesContainer" *ngIf="categoryItem.subCategories">
          Sub-Categorias:
          <span *ngFor="let subcategory of categoryItem.subCategories">{{
            subcategory | titlecase
          }}</span>
        </div>
      </div>
    </div>

    <span class="showControlButtonsIndicator">
      {{ showCategoryControlButtons ? "⬆️" : "⬇️" }}
    </span>
  </div>

  <div *ngIf="showCategoryControlButtons" class="categoryListItemButtons">
    <app-action-button
      [buttonText]="'🔁 Atualizar'"
      [buttonAction]="handlerCategoryToUpdate.bind(this, categoryItem.id)"
    ></app-action-button>

    <app-action-button
      [buttonText]="'🗑️ Apagar'"
      [buttonAction]="handlerCategoryToDelete.bind(this, categoryItem.id)"
    ></app-action-button>
  </div>

  <div class="categoryListItemUpdateBox">
    <app-update-category
      *ngIf="selectedCategoryId === categoryItem.id"
      [currentCategory]="categoryItem"
    ></app-update-category>
  </div>
</li>
