.categoryListItem {
  margin: 0rem 0.125rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.categoryListItemContainer:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.categoryListItemContainer {
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
}

.categoryListMain {
  display: flex;
  gap: 0.25rem;
  flex-grow: 1;
}

.typeAndAvatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.25rem;
  border-radius: 5px;
}

.categoryNameAndSubcategoriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.categoryNameContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.125rem;
}

.subCategoriesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

.subCategoriesContainer span {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.125rem;
  border-radius: 5px;
}

.categoryAvatar {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.125rem;
  background-color: rgba(255, 255, 255, 0.25);
}

.showControlButtonsIndicator {
  align-self: flex-end;
}

.categoryListItemButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.categoryListItemButtons button {
  border: 0.125rem solid var(--primaryColor);
  background-color: var(--secondaryColor);
  text-align: center;
  padding: 0.5rem;
  margin: 0.125rem;
  border-radius: 5px;
  color: var(--secondaryTextColor);
  font-size: 0.8rem;
  opacity: 1;
  transition: all 0.25s ease;
  align-self: flex-end;
  font-size: 1.25rem;
}

.categoryListItemButtons button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.25s ease;
}
