<h2>ℹ️ Política de Privacidade</h2>
<p>
  Esta Política de Privacidade descreve como coletamos, usamos e divulgamos
  informações sobre você quando você usa nosso site. Ao acessar ou usar este
  site, você concorda com os termos e condições desta Política de Privacidade.
</p>

<h3>Coleta de informações</h3>
<p>
  Quando você faz login no nosso site usando a autenticação do Firebase com a
  sua Conta Google, coletamos o seu endereço de e-mail e o UID do usuário. Essas
  informações são usadas para identificar sua conta e permitir que você crie e
  visualize documentos que você próprio criou, movimentos estes relativos a
  controle de despesas e orçamento familiar.
</p>

<h3>Uso de informações</h3>
<p>
  Usamos as informações que coletamos para fornecer acesso seguro e
  personalizado ao site, para permitir que você crie e visualize documentos que
  você mesmo criou e para ajudar a garantir a segurança do site. Não
  compartilhamos suas informações com terceiros, exceto conforme exigido por
  lei.
</p>

<h3>Retenção de informações</h3>
<p>
  Armazenamos suas informações de conta pelo tempo necessário para fornecer
  acesso seguro e personalizado ao site e para cumprir obrigações legais.
</p>
<h3>Segurança de informações</h3>
<p>
  Tomamos medidas razoáveis para proteger as informações pessoais que coletamos
  contra acesso, uso, alteração ou destruição não autorizados. No entanto,
  nenhum método de transmissão pela internet ou método de armazenamento
  eletrônico é 100% seguro, e não podemos garantir a segurança absoluta das
  informações pessoais.
</p>
<h3>Seus direitos</h3>

<p>
  Você tem o direito de solicitar acesso, correção ou exclusão de suas
  informações pessoais que coletamos e armazenamos. Para fazer uma solicitação,
  entre em contato conosco usando as informações de contato abaixo.
</p>

<h3>Alterações a esta Política de Privacidade</h3>
<p>
  Podemos atualizar esta Política de Privacidade periodicamente. Se fizermos
  alterações significativas nesta Política de Privacidade, publicaremos uma
  notificação no site para informá-lo das mudanças.
</p>

<h3>Entre em contato conosco</h3>
<p>
  Se você tiver alguma dúvida sobre esta Política de Privacidade ou nossas
  práticas de privacidade, entre em contato conosco pelo endereço de e-mail
  <a href="mailto:pmpgomes@gmail.com">pmpgomes@gmail.com</a>.
</p>
<p>Data de atualização: 02 de maio de 2023</p>
