<app-new-movement></app-new-movement>
<fieldset>
  <legend>Movements</legend>

  <label>
    Filter
    <select
      [(ngModel)]="filterAndSortBy.movementType"
      (change)="handlerMovementsFilterAndSort()"
    >
      <option value="all">All</option>
      <option value="income">Income</option>
      <option value="savings">Savings</option>
      <option value="expense">Expense</option>
    </select>
  </label>
  <label>
    Sort By
    <select
      [(ngModel)]="filterAndSortBy.sortBy"
      (change)="handlerMovementsFilterAndSort()"
    >
      <option value="description">Description</option>
      <option value="date">Date</option>
    </select>
  </label>

  <button (click)="pagination.previousPage()">PAGE -</button>
  <input
    [(ngModel)]="pagination.currentPage"
    type="number"
    min="1"
    max="{{ pagination.numberOfPages }}"
    disabled
  />
  <span>of {{ pagination.numberOfPages }}</span>
  <button (click)="pagination.nextPage()">PAGE +</button>

  <label>
    Number of Categories per Page
    <input
      [(ngModel)]="pagination.numberDocsByPage"
      type="number"
      (change)="this.pagination.calculateNumberOfPages(pagination.totalDocs)"
    />
  </label>
  <ul>
    Total Docs:
    {{
      pagination.totalDocs
    }}
    <li
      *ngFor="
        let movement of (filteredMovement$ | async)?.slice(
          (pagination.currentPage - 1) * pagination.numberDocsByPage,
          pagination.numberDocsByPage * pagination.currentPage
        )
      "
    >
      {{ movement.description | titlecase }}{{ movement.value | currency : "€"
      }}{{ movement.date | date : "dd-MM-yyyy" }}
      <button (click)="this.firestoreService.getDoc(movement.id)">
        GET DOC
      </button>
      <button (click)="this.firestoreService.deleteDoc(movement.id)">
        DELETE
      </button>
    </li>
  </ul>
</fieldset>
