<fieldset class="movementsContainer">
  <legend>Movimentos</legend>

  <div class="filterAndSortContainer">
    <label
      >Filtrar
      <select
        [(ngModel)]="filterAndSortBy.type"
        (change)="handlerMovementsFilterAndSort()"
      >
        <option value="all">Todos</option>
        <option value="income">Receitas</option>
        <option value="savings">Poupanças</option>
        <option value="expense">Despesas</option>
      </select>
    </label>
    <label>
      Ordenar:
      <select
        [(ngModel)]="filterAndSortBy.sortBy"
        (change)="handlerMovementsFilterAndSort()"
      >
        <option value="description">Descrição</option>
        <option value="date">Data</option>
      </select>
    </label>
  </div>

  <div class="paginationContainer" *ngTemplateOutlet="paginationTemplate"></div>

  <ul class="movementList">
    <li
      class="movementListItem"
      *ngFor="
        let movement of (filteredMovement$ | async)?.slice(
          (pagination.currentPage - 1) * pagination.numberDocsByPage,
          pagination.numberDocsByPage * pagination.currentPage
        )
      "
      class="{{ movement.type }}"
    >
      <div class="movementsListMain">
        <span>{{ movement.date | date : "dd-MM-yyyy" }}</span>
        <span>{{ movement.description | titlecase }}</span>
        <span>{{ movement.value | currency : "€" }}</span>

        <div class="movementListItemButtons">
          
          <button (click)="handlerClickMovementUpdate(movement.id)">🆙</button>

          <button
            (click)="this.firestoreService.deleteDoc('movements', movement.id)"
          >
            🗑️
          </button>
        </div>
      </div>
      <app-update-movement
        *ngIf="idMovementUpdateOpen === movement.id"
        [idMovement]="idMovementUpdateOpen"
      ></app-update-movement>
    </li>
  </ul>

  <div class="paginationContainer" *ngTemplateOutlet="paginationTemplate"></div>
</fieldset>

<ng-template #paginationTemplate>
  <div class="paginationContainer">
    <button (click)="pagination.previousPage()" class="paginationButton">
      <
    </button>
    <input
      [(ngModel)]="pagination.currentPage"
      type="number"
      min="1"
      max="{{ pagination.numberOfPages }}"
      disabled
    />
    <span class="textPagination">de {{ pagination.numberOfPages }}</span>
    <button (click)="pagination.nextPage()" class="paginationButton">></button>

    <label>
      Movimentos por Página:
      <input
        [(ngModel)]="pagination.numberDocsByPage"
        type="number"
        (change)="this.pagination.calculateNumberOfPages(pagination.totalDocs)"
      />
    </label>
    <span class="textPagination">Total: {{ pagination.totalDocs }}</span>
  </div>
</ng-template>
