.loginButton {
  padding: 0.75rem;
  border: 0.125rem solid var(--primaryColor);
  border-radius: 5px;
  margin-top: 1rem;
  background-color: var(--secondaryColor);
  font-size: 1.2rem;
  text-align: center;
  color: var(--secondaryTextColor);
  opacity: 1;
  transition: all 0.25s ease;
}

.loginButton:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.25s ease;
}
